.categoryGroup {
  margin-bottom: 32px;
  padding-bottom: 32px;
  background-color: black;

  .title {
    font-weight: bold;
  }

  .category {
    padding-top: 32px;
    margin: 0 0 32px 64px;
    font-size: 2rem;
  }

  .recommended {
    padding-top: 16px;
    margin: 0 0 16px 64px;
    font-size: 1.5rem;
  }
  .search {
    padding-top: 32px;
  }

  .react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none;
  }

  .react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.search-value {
  margin: 32px 64px;
}
