@import "../../App.scss";

.root {
  width: 100%;
  cursor: pointer;
  //margin: 8px;

  .content-image {
    margin-right: 16px;
    overflow: hidden;
    object-fit: cover;
    transition: opacity 0.1s ease-out 20ms;
    &:hover {
      opacity: 0.5;
    }
  }

  .recommended-image {
    width: 200px;
    height: 200px;
  }

  .category-image {
    width: 200px;
    height: 300px;
  }

  
  .content-image:hover + .textOnImage {
    display: block;
  }

  .textOnImage {
    top: 50%;
    position: absolute;
    background: rgba(0, 0, 0, 0.2); /* Fallback color */
    color: $text-color;
    width: 200px;
    padding: 8px 8px;
    text-align: center;
    display: none;
    &:hover {
      display: block;
    }
  }
}
