@import "../../App.scss";

.landing-header-card {
  text-align: center;
  padding: 32px;
  .landing-header-button {
    color: $text-color;
    background-color: $secondary-color;
    &:hover {
      background-color: darken($secondary-color, 10);
    }
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .landing-header-title {
    font-size: 2.5rem;
  }
  .landing-header-subTitle {
    font-size: 2rem;
  }
  .landing-header-text {
    font-size: 1.5rem;
    margin-bottom: 32px;
  }
}
