@import "../../App.scss";

.header-card {
  text-align: center;
  padding: 32px;
  .header-button {
    color: $text-color;
    background-color: $secondary-color;
    &:hover {
      background-color: darken($secondary-color, 10);
    }
    padding: 0 16px;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .header-title {
    font-size: 2.5rem;
  }
  .header-subTitle {
    font-size: 2rem;
  }
  .header-text {
    font-size: 1.5rem;
    margin-bottom: 32px;
  }
}
